html {
    background-color: #D9EEE1;
}

.toolbar {
    width: 50%;
    height: 90px;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.log {
    margin-left: 25px;
}

form {
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

.documents {
    margin-top: 20px;
}
