html {
    background-color: #D9EEE1;
}

.toolbar {
    width: 100%;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 50px;
}

.save {
    margin-top: 17px;
    margin-left: 20px;
}
